<div class="h-100">
  <div class="w-50 m-auto">
    <div class="container-fluid g-3">
      <div class="row mb-5">
        <%= image_tag 'pokemon-logo.svg', class: 'img-fluid' %>
      </div>
      <div class="row">
        <div class="col-3 mx-auto">
          <%= link_to "Play Pokemon", "", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
