<div class="alert alert-<%= type %> d-flex align-items-center" role="alert">

  <% if type == "info" %>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
  <% end %>
  <% if type == "success" %>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <% end %>

  <% if type == "warning" %>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <% end %>

  <% if type == "danger" %>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <% end %>

  <div>
    <%= msg %>
  </div>
</div>
