<div class="progress mt-3 position-relative" style="height:16px; color: black;">
  <% exp_percentage = calculate_exp_percentage(pokemon.current_experience, pokemon.level) %>
  <div class="progress-bar bg-warning" role="progressbar" style="width: <%= exp_percentage %>%;">
  </div>
  <div class="mx-auto position-absolute <%= 'text-white' if exp_percentage >= 50 %>" style="left:0; right:0; width: 20%;">
    <%= pokemon.current_experience %> / <%= get_cap_exp(pokemon.level) %>
  </div>
</div>
