<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <header class="w-100 d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <div class="d-flex flex-column">
          <%= image_tag 'pokemon-logo.svg', class:'w-25 image-fluid' %>
          <span class="fs-5 pacifico ms-1 rainbow-text">
            Rainbow
          </span>
        </div>
      </a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-dark">Battle</a></li>
        <li><a href="<%= pokemons_path %>" class="nav-link px-2 link-dark">Pokemon</a></li>
        <li><a href="<%= pokedexes_path %>" class="nav-link px-2 link-dark">Pokédex</a></li>
        <li><a href="<%= skills_path %>" class="nav-link px-2 link-dark">Skill</a></li>
      </ul>
      <div class="col-12"></div>
    </header>
  </div>
</nav>
