<div class="d-flex align-items-center justify-content-end mt-5 mb-2">
  <form>
    <div class="row">
      <div class="col-auto">
        <label for="date" class="col-form-label">Keyword</label>
      </div>
      <div class="col-auto">
        <input type="search" name="query" class="form-control" placeholder="Search" value="<%= params[:query] %>">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </div>
  </form>
</div>
